<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- htmx -->
  <script src="https://unpkg.com/htmx.org@1.9.6"
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
  <!-- tailwind -->

  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.css"  rel="stylesheet" />
  <title>HTMXchat</title>
</head>

<body >
  <!-- navigation bar -->
  {% include "navbar.html" %}
  
  {% block main %}
  {% endblock main %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
<!-- notification -->
    <script>
      let notificationCount = document.getElementById('badge')
      let clearBtn = document.getElementById("clear")

      document.body.addEventListener('htmx:wsAfterMessage', (e) => {
        let currentCount = notificationCount.innerHTML
        if(!currentCount){
          notificationCount.innerHTML = 1;
        }else{
          notificationCount.innerHTML = parseInt(currentCount) + 1
        }
      })

      clearBtn.addEventListener('click', (e) => {
        let dropdown = document.getElementById("dropdown-menu")

        let notification = dropdown.querySelectorAll('div')
        notification.forEach(notification => notification.remove())
        notificationCount.innerHTML = ''
      } )

    </script>
</body>

</html>